div.area_relatorios {
    position: relative;
    width: 100%;
    height: 100%;
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}

div.relatorios {
    position: relative;
    width: 700px;
    height: 450px;
    display: flex;
    justify-content: center;
    background-color: #ccc;
}

div.opcoes_relatorios {
    position: relative;
    width: 100%;
    height: 40px;
    background-color: #f00;
    padding: 10px;
    overflow: hidden;
}

a.opc_relat {
    position: relative;
    text-decoration: none;
    color: #fff;
    padding: 14px 5px;
    background-color: #000;
}