* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
}
html, body {
    width: 100%;
    height: 100%;
}

body {
    background: #f5f5f5;
}

.Menu1 {
    background-color: #fff;
    width: 100%;
    min-height: 13px;
    position: relative;
    transition: all 1.1s;
    overflow: hidden;
}

.Menu1 {
    background-color: #fff;
    width: 100%;
    min-height: 13px;
    position: relative;
    transition: all 1.1s;
    overflow: hidden;
}

    .Menu1 > img {
        width: 150px;
        height: 100px;
        margin-top: 8px;
    }

a {
    float: right;
    text-decoration: none;
}

ul {
    display: inline-block;
    float: right;
}

.Menu1 > ul > a > li {
    font-family: 'Roboto Slab', serif;
    color: #4c6996;
    list-style: none;
    font-size: 17px;
    padding: 45px;
    transition: all 0.30s;
}

    .Menu1 > ul > a > li:hover {
        color: #fff;
        background: #0171bb;
        transition: all 0.30s;
    }

.Menu2 {
    background-color: #fff;
    border-bottom: #ccc solid 0.5px;
    width: 100%;
    height: 70px;
    font-size: 13px;
    position: fixed;
    transition: all 1.4s;
    z-index: 9 !important;
    overflow: hidden;
}

    .Menu2 > img {
        width: 120px;
        height: 80px;
        margin-top: -3px;
    }

    .Menu2 > ul > a > li {
        font-family: 'Roboto Slab', serif;
        color: #4c6996;
        list-style: none;
        font-size: 15px;
        padding: 26px;
        transition: all 0.30s;
    }

        .Menu2 > ul > a > li:hover {
            color: #fff;
            background: #0171bb;
            transition: all 0.30s;
        }

#greetings {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    background-image: url("../parallaxT2.png");
    background-size: 100% 100%;
}

    #greetings > h1 {
        color: gray;
        font-family: 'Poiret One', cursive;
        font-size: 70px;
        position: absolute;
        top: 40%;
        left: 15%;
        right: 15%;
    }

    #greetings > h2 {
        color: gray;
        font-family: 'Poiret One', cursive;
        position: absolute;
        top: 50%;
        left: 15%;
        right: 15%;
    }

#mvv {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

div.missão {
    width: 245px;
    height: 360px;
    margin: 0 auto;
    margin-top: 7%;
    text-align: center;
    font-family: Arial;
    margin-bottom: 20%;
}

.cor {
    background: #1b8ba5;
    width: 245px;
    height: 170px;
    margin-top: -25px;
    color: white;
    padding: 3%;
}

.visão {
    width: 245px;
    height: 360px;
    margin: 0 auto;
    margin-top: 6%;
    text-align: center;
    font-family: Arial;
    margin-bottom: 20%;
}

.cor2 {
    background: #fec500;
    width: 244px;
    height: 170px;
    margin-top: -25px;
    margin-left: auto;
    color: white;
    padding: 3%;
}

.valores {
    width: 245px;
    height: 360px;
    margin: 0 auto;
    margin-top: 6%;
    text-align: center;
    font-family: Arial;
    margin-bottom: 20%;
}

.cor3 {
    background: #ff3044;
    width: 245px;
    height: 170px;
    margin-top: -10%;
    color: white;
    display: flex;
    text-align: justify;
    justify-content: space-around;
}

#sobre{	
	width:100%;
	min-height:600px;
	padding-top: 80px;
	display: flex;
	align-items: center;
	margin-bottom: 40px;
}

.historia {
    width: 70%;
    height: 300px;
    text-align: left;
    margin-left: 100px;
}

    .historia > h1 {
        font-family: 'Roboto Slab', serif;
        color: #4c6996;
        margin-bottom: 15px;
    }

    .historia > p {
        font-family: 'Tajawal', sans-serif;
        color: #5d6f8c;
        font-size: 120%;
    }

.Term {
    width: 220px;
    height: 150px;
    margin-top: -200px;
    margin-right: -180px;
}

.cali {
    width: 200px;
    height: 200px;
}

#colaboradores {
    background: #082e6d;
    width: 100%;
    height: 60%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

    #colaboradores > div {
        width: 250px;
        height: 300px;
        float: right;
        text-align: center;
        font-family: calibri light;
    }

        #colaboradores > div > img {
            width: 200px;
            height: 200px;
            border-radius: 100px;
            box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
        }

.contatos {
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

    .contatos > img {
        box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
        border-radius: 100px;
        cursor: hand;
    }

footer {
    background: #353535;
    width: 100%;
    height: 200px;
    color: #fff;
    font-size: 13px;
    font-family: arial;
    display: flex;
    overflow: hidden;
    align-items: center;
    justify-content: center;
}

.atendimento {
    width: 280px;
    height: 100px;
    float: left;
    border-right: 1px solid white;
    text-align: center;
}

.adress {
    width: 500px;
    height: 100px;
    border-left: 1px solid white;
    float: right;
    text-align: center;
}

    .adress > img {
        width: 70px;
        height: 50px;
        float: right;
        margin-top: -30px;
    }

.fim {
    width: 500px;
    min-height: 30px;
    margin-top: 30px;
    text-align: center;
}
